<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
    
	<link href="../main.css"  type="text/css" rel="stylesheet">

	<script src="../main.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
<div id="content" class="text-center">
   <div id="title">
     Voting App - About 
   </div>
   <div>This Page is Tester...............</div>
   <div>The Function is coding. Please try again later. Tks for watching ^^</div>
   <a href = "/home">
       <button id = "btn-test-1" class = "btn btn-default">Back to Home</button>
       
   </a>
   <a href = "/my-poll">
       <button class = "btn btn-primary" id = "btn-test-2">Go to your poll </button>
   </a>
   <div>
      <button id = "btn-show" class = "btn btn-primary">Test JS file</button>
   </div>
  
  </div>
 
</body>